<div class="card text-bg-secondary mb-3"  width="400" height="300">
  <div class="row g-0">
    <div class="col-md-4">
      
      <img src="{{ asset('images/bungalow.jpg') }}"  alt="Description de l'image" width="400" height="200">
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <div class="cadreTitre">
        <h3 class="card-title" style="color: black;">Nos magnifique bungalow</h3>
      </div>
        
        <p class="card-text" style="color: blue;">Nos bungalow qui sont trop beaux.</p>
        <p class="card-text" style="color: red;">dernière mise a jour 3 minutes</p>
      </div>
    </div>
  </div>
</div>