

<div class="container-fluid">
<nav class="navbar bg-body-primary">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-5" type="button"><a href="{{path('logement.index')}}">nos locations<a/></button>
    <button class="btn btn-outline-success me-5" type="button">les employés</button>
    <button class="btn btn-outline-success me-5" type="button">les prestations</button>
    <button class="btn btn-outline-success me-5" type="button">nos partenaires locaux</button>
    <button class="btn btn-outline-success me-5" type="button"><a href="{{path('home.index')}}">Retour a l'acceuil</a></button>
  
   
  </form>
  </div>
</nav>