{% extends 'base.html.twig' %}

{% block title %}tous nos logements{% endblock %}

{% block body %}
 

<p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse praesentium deserunt omnis excepturi. Magni cum autem rem, dolorum unde ipsum dolore neque sed optio ex suscipit debitis esse animi aliquam, tempora quidem sapiente itaque eveniet ut officia.
 Dolores recusandae maxime aperiam quam quo, sapiente ipsam at iusto amet perferendis! Perferendis.
</p>

{% include 'includes/cardBungalow.html.twig' %}
{% include 'includes/cardTente.html.twig' %}
{% include 'includes/cardCampingCar.html.twig' %}



 

{% endblock %}
