{% extends 'base.html.twig' %}

{% block title %}New LogementD{% endblock %}

{% block body %}
    <h1>Create new LogementD</h1>

    {{ include('logement_d/_form.html.twig') }}

    <a href="{{ path('app_logement_d_index') }}">back to list</a>
{% endblock %}
